<!DOCTYPE html>
<html>
<head>
	{% include '_head-MainContent.html' %}
</head>
<body id='home'>
	{% include '_messageDialog.html' %}
	{% include '_header-UserAccountBar.html' %}
	<div id='wrapper'>
		<div id='header'>
			{% include '_header-LogoAndNav.html' %}
		</div>
		<div id='item-name'>Item Name</div>
		<div id='item-retail-price'>P 5.00</div>
		<div id='item-detail'>
			<div id='item-image'>item image goes here</div>
			<div id='item-thumbnails'>item thumbnails go here</div>
			<div id='item-description'>item description goes here</div>
		</div>
		<div id='item-current-auction'>
			<div class="item-auction-price">Final Price: <span id="item-auction-price">P 5.00</span></div>
		</div>
		<div class="clear"></div>
	</div>
</body>
</html>