<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Home</title>
	<meta name="keywords" content="piso,auction,iphone,ipad,ipod,apple" />
	<meta name="description" content="Piso Auction is a fun and exciting way to purchase the items you love!" />
	<meta name="author" content="Praetorium US, Inc." />
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/css/screen.css">
</head>
<body id="home">
	<div id="header-background"></div>
	<div id="page-top-bar"></div>
	<div id="wrapper">
	    <div id="header">
		<div id="header-account">Logged in as <a href="#">Darin</a>.  <a href="#">Logout</a></div>
		    <div id="logo"><img src="/images/logo.png" alt="Piso Auction" /></div>
		</div>
		<div id="main-navigation">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Auctions</a></li>
				<li><a href="#">How It Works</a></li>
				<li><a href="#">Winners</a></li>
				<li><a href="#">FAQ</a></li>
			</ul>
		</div>
		<div id="auctions">
			<div id="item1" class="auction">
				<div class="auction-title"><a href="#" title="link to auction page">Señor Gato</a></div>
				<div class="auction-image"><img src="/images/senor_gif.gif" alt="auction image" /></div>
				<div class="auction-info">
					<div class="auction-current-price">$0.05</div>
					<div class="auction-time-remaining">00:00:05</div>
					<div class="auction-current-winner">darinh</div>
				</div>
				<div class="auction-bid-button">Bid!</div>
				<div class="auction-footer"></div>
			</div>
			<div id="item1" class="auction">
				<div class="auction-title"><a href="#" title="link to auction page">Señor Gato</a></div>
				<div class="auction-image"><img src="/images/senor_gif.gif" alt="auction image" /></div>
				<div class="auction-info">
					<div class="auction-current-price">$0.05</div>
					<div class="auction-time-remaining">00:00:05</div>
					<div class="auction-current-winner">darinh</div>
				</div>
				<div class="auction-bid-button">Bid!</div>
				<div class="auction-footer"></div>
			</div>
			<div id="item1" class="auction">
				<div class="auction-title"><a href="#" title="link to auction page">Señor Gato</a></div>
				<div class="auction-image"><img src="/images/senor_gif.gif" alt="auction image" /></div>
				<div class="auction-info">
					<div class="auction-current-price">$0.05</div>
					<div class="auction-time-remaining">00:00:05</div>
					<div class="auction-current-winner">darinh</div>
				</div>
				<div class="auction-bid-button">Bid!</div>
				<div class="auction-footer"></div>
			</div>
			<div id="item1" class="auction">
				<div class="auction-title"><a href="#" title="link to auction page">Señor Gato</a></div>
				<div class="auction-image"><img src="/images/senor_gif.gif" alt="auction image" /></div>
				<div class="auction-info">
					<div class="auction-current-price">$0.05</div>
					<div class="auction-time-remaining">00:00:05</div>
					<div class="auction-current-winner">darinh</div>
				</div>
				<div class="auction-bid-button">Bid!</div>
				<div class="auction-footer"></div>
			</div>
			<div id="item1" class="auction">
				<div class="auction-title"><a href="#" title="link to auction page">Señor Gato</a></div>
				<div class="auction-image"><img src="/images/senor_gif.gif" alt="auction image" /></div>
				<div class="auction-info">
					<div class="auction-current-price">$0.05</div>
					<div class="auction-time-remaining">00:00:05</div>
					<div class="auction-current-winner">darinh</div>
				</div>
				<div class="auction-bid-button">Bid!</div>
				<div class="auction-footer"></div>
			</div>
			<div id="item1" class="auction">
				<div class="auction-title"><a href="#" title="link to auction page">Señor Gato</a></div>
				<div class="auction-image"><img src="/images/senor_gif.gif" alt="auction image" /></div>
				<div class="auction-info">
					<div class="auction-current-price">$0.05</div>
					<div class="auction-time-remaining">00:00:05</div>
					<div class="auction-current-winner">darinh</div>
				</div>
				<div class="auction-bid-button">Bid!</div>
				<div class="auction-footer"></div>
			</div>
			<div id="item1" class="auction">
				<div class="auction-title"><a href="#" title="link to auction page">Señor Gato</a></div>
				<div class="auction-image"><img src="/images/senor_gif.gif" alt="auction image" /></div>
				<div class="auction-info">
					<div class="auction-current-price">$0.05</div>
					<div class="auction-time-remaining">00:00:05</div>
					<div class="auction-current-winner">darinh</div>
				</div>
				<div class="auction-bid-button">Bid!</div>
				<div class="auction-footer"></div>
			</div>
			<div id="item1" class="auction">
				<div class="auction-title"><a href="#" title="link to auction page">Señor Gato</a></div>
				<div class="auction-image"><img src="/images/senor_gif.gif" alt="auction image" /></div>
				<div class="auction-info">
					<div class="auction-current-price">$0.05</div>
					<div class="auction-time-remaining">00:00:05</div>
					<div class="auction-current-winner">darinh</div>
				</div>
				<div class="auction-bid-button">Bid!</div>
				<div class="auction-footer"></div>
			</div>
			<div id="item1" class="auction">
				<div class="auction-title"><a href="#" title="link to auction page">Señor Gato</a></div>
				<div class="auction-image"><img src="/images/senor_gif.gif" alt="auction image" /></div>
				<div class="auction-info">
					<div class="auction-current-price">$0.05</div>
					<div class="auction-time-remaining">00:00:05</div>
					<div class="auction-current-winner">darinh</div>
				</div>
				<div class="auction-bid-button">Bid!</div>
				<div class="auction-footer"></div>
			</div>
			<div id="item1" class="auction">
				<div class="auction-title"><a href="#" title="link to auction page">Señor Gato</a></div>
				<div class="auction-image"><img src="/images/senor_gif.gif" alt="auction image" /></div>
				<div class="auction-info">
					<div class="auction-current-price">$0.05</div>
					<div class="auction-time-remaining">00:00:05</div>
					<div class="auction-current-winner">darinh</div>
				</div>
				<div class="auction-bid-button">Bid!</div>
				<div class="auction-footer">
					
				</div>
			</div>
			
		</div>
	</div>
</body>	
</html>


<!--
{% for shout in shouts %}
<div>
	{{shout.message}}
	from 
	{% ifequal shout.who None %}
		Anonymous
	{% else %}
		{{shout.who}}
	{% endifequal %}
</div>
{% endfor %}

<form action="home" method="post" accept-charset="utf-8">
	<p>From: <input type="text" name="who" value="" id="who"></p>
	<p>Message: <input type="text" name="message" value="" id="message"></p>

	<p><input type="submit" value="Shout"></p>
	<p><input type="button" name="getData" value="Get Data!" id="getData"></p>
</form>
<div id="newData"></div>

<script type="text/javascript" href="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"/>

$(document).ready(function() {
  $("#getData").click(function() {
	$.ajax({
	            type: "POST",
	            url: "http://www.hotelbeasain.com/webservice/wshotelbeasain.asmx?op=EstadoHabitacionesFechas",
	            data: '{}',
	            contentType: "application/json; charset=utf-8",
	            dataType: "json",
	            success: function (resul) {
	                // if (resul.d)
	                    alert('El usuario es válido.');
	                // else
	                    // alert('El usuairo es inválido.');
	            },
	            error:function (xhr, ajaxOptions, thrownError){
	                    alert(xhr.status);
	                    alert(thrownError);
	                }
	        });
	});
});
-->