<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='X-UA-Compatible' content='chrome=1'>
	<meta http-equiv='Content-type' content='text/html; charset=utf-8'>
	<title>Home</title>
	<meta name='keywords' content='piso,auction,iphone,ipad,ipod,apple' />
	<meta name='description' content='Piso Auction is a fun and exciting way to purchase the items you love!' />
	<meta name='author' content='Praetorium US, Inc.' />
	<link rel='shortcut icon' href='/images/favicon.ico' />
	<link rel='icon' href='/images/favicon.ico' type='image/x-icon' />
	<link rel='stylesheet' type='text/css' href='/css/screen.css' />
	<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css' />
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js'></script>
	<script src='/js/functions.js'></script>
	<script src='/js/core.js'></script>
	<script src='/js/messageDialog.js'></script>
</head>
<body id='home'>
	{% include '_messageDialog.html' %}
	{% include '_header-UserAccountBar.html' %}
	<div id='wrapper'>
		<div id='header'>
			<div id='logo'><img src='/images/piso-symbol.png' alt='Piso Auction' /></div>
			<div id='main-navigation'>
				<ul>
					<li><a href='#'>Home</a></li>
					<li><a href='#'>Auctions</a></li>
					<li><a href='#'>How It Works</a></li>
					<li><a href='#'>Winners</a></li>
					<li><a href='#'>FAQ</a></li>
				</ul>
			</div>
		</div>
		<div id='auctions'>
			<div style="margin:0 auto;">
				<h3>Loading...</h3>
			</div>
		</div>
	</div>
</body>
</html>
