<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Piso Auction - Payment History</title>
  {% include '_head_includes.html' %}
  <script type="text/javascript" src="/js/index.js"></script>
</head>

<body class="hideall">
{% include '_messageDialog.html' %}
{% include '_topbar.html' %}
<!-- start header -->
  <div id="header">
    <div class="box"> 
      {% include '_logo.html' %}
      {% include '_menubar.html' %}
    </div>
  </div>
<!-- end header --> 
<!-- start container -->
<div id="container"> 
  <!-- start breadcrumb -->
  <div class="breadcrumb"> 
    <!-- start box -->
    <div class="box"> <span>You are here:</span>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="account-page.html">Account</a></li>
      </ul>
    </div>
    <!-- end box -->
    <div class="clear"></div>
  </div>
  <!-- end breadcrumb --> 
  <!-- start box -->
  <div class="box"> 
    <!-- start leftcol -->
    <div id="leftcol" class="medium"> 
      <!-- start featured1 -->
      <div class="Featured">
        <h1>User Account</h1>
        <div class="block1st">
          <div class="graycol">
            <h4 class="red">My Account</h4>
            <ul class="catelist">
              <li><a href="typography.html">Edit your account information</a></li>
              <li><a href="typography.html">Change your password</a></li>
              <li><a href="typography.html">Modify your address book entries</a></li>
              <li><a href="wishlist-page.html">Modify your wish list</a></li>
            </ul>
          </div>
        </div>
        <div class="block1st">
          <div class="graycol">
            <h4 class="red">My Orders</h4>
            <ul class="catelist">
              <li><a href="typography.html">View your order history</a></li>
              <li><a href="typography.html">Downloads</a></li>
              <li><a href="typography.html">Your Reward Points</a></li>
              <li><a href="typography.html">View your return requests</a></li>
              <li><a href="typography.html">Your Transactions</a></li>
            </ul>
          </div>
        </div>
        <div class="block1st">
          <div class="graycol">
            <h4 class="red">Newsletter</h4>
            <ul class="catelist">
              <li><a href="typography.html">Subscribe / unsubscribe to newsletter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end featured1 --> 
    </div>
    <!-- end leftcol --> 
    <!-- start rightcol -->
    <div id="rightcol"> 
      <!-- start subnav -->
      <div class="subnav rightcol-block">
        <h4 class="red">Account</h4>
        <ul class="sf-menu sf-vertical">
          <li><a class="subnav-link" href="register-page.html" title=""><strong>Login / Register</strong></a></li>
          <li><a class="subnav-link" href="register-page.html" title=""><strong>Forgotten Password</strong></a></li>
          <li><a class="subnav-link" href="account-page.html" title=""><strong>My Account</strong></a></li>
          <li><a class="subnav-link" href="wishlist-page.html" title=""><strong>Wish List</strong></a></li>
          <li><a class="subnav-link" href="account-page.html" title=""><strong>Order History</strong></a></li>
          <li><a class="subnav-link" href="account-page.html" title=""><strong>Downloads</strong></a></li>
          <li><a class="subnav-link" href="account-page.html" title=""><strong>Returns</strong></a></li>
          <li><a class="subnav-link" href="account-page.html" title=""><strong>Transactions</strong></a></li>
          <li><a class="subnav-link" href="account-page.html" title=""><strong>Newsletter</strong></a></li>
        </ul>
      </div>
      <!-- end subnav --> 
    </div>
    <!-- end rightcol -->
    <div class="clear"></div>
  </div>
  <!-- end box --> 
</div>
<!-- end container --> 
{% include '_footer.html' %}

</body>
</html>
