# ignore operating system metadata files
thumbs.db
desktop.ini
.DS_Store

# ignore text editor and IDE metadata files
.project
*.swp

# ignore cached Python bytecode
*.pyc

# ignore google appengine nag files
.appcfg_nag
