# ignore operating system metadata files
thumbs.db
desktop.ini
.DS_Store

# ignore text editor and IDE metadata files
.project
*.swp

# ignore cached Python bytecode
*.pyc

# ignore google appengine nag files
.appcfg_nag

# ignore datastore and search indexes files
.datastore
.searchindexes

# ignore output.xml from our casperjs test script
output.xml

# ignore ctags
.tags
