/*
SCOPE: Page
*/

html, body {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,freesans;
	font-size: 12px;
	background-color:#fff;
}


#wrapper {
	width: 960px;
	margin: 30px auto 0 auto;
}

a:link, a:visited {
    color:#27b;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a img {
    border-width:0;
}

/* Lightbox */

.white-overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: white;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

/*
SCOPE: Header
*/

#header {
	/* height: 150px; -- auto sized for now */
	background-color:#fff;
}
	
#page-top-bar {
	height:30px;
	background: #000000 url('/images/top-bar-bg.png') repeat-x;
	color: #ffffff;
	display: block;
	font-weight: bold;
	position: fixed;
	width: 100%;
	top: 0px;
	clear: both;
	z-index: 1000;
	/*background-color: #5c9ccc;*/
}

#page-top-bar a, #page-top-bar a:visited  {
	color: #aaa;
}

#page-top-bar a:hover {
	color: #fff;
	text-decoration: none;
}


#top-bar-wrapper {
	width: 960px;
	height: 30px;
	padding: 6px 0;
	margin: 0 auto;
}

#header-account a {
	color: #f0f0f0;
	text-decoration: none;
}

#header-account a:hover {
	color: #fff;
}

#logo {
margin: 0px;
padding: 0px;
}

/*
SCOPE: Login Form
*/
#login-container {
    margin:0 auto;
    position: relative;
	float: right;
}

#login-nav {
    /*padding-bottom: 2px;
	font-size:12px;
    line-height:23px;*/
    text-align:right;
}
#login-nav a.login {
    background:#88bbd4;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    *background:transparent url("/images/signin-nav-bg-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
}
#login-nav a.login:hover {
    background:#aaa;
    *background:transparent url("/images/signin-nav-bg-hover-ie.png") no-repeat 0 0;
    *padding:4px 12px 6px;
}
#login-nav a.login, #login-nav a.login:hover {
    *background-position:0 3px!important;
}

a.login {
    position:relative;
    margin-left:3px;
}
a.login span {
    background-image:url("/images/toggle_down_light.png");
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
}

#login-nav a.menu-open {
    background:#ddeef6!important;
    color:#666!important;
    outline:none;
}

a.login.menu-open span {
    background-image:url("/images/toggle_up_dark.png");
    color:#789;
}

#login-menu {
	-moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
	-webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    display:none;
    background-color:#ddeef6;
    position:absolute;
    width:210px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 24.5px;
    right: 0px;
    margin-top:-10px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;
}

#login-menu input[type=text], #login-menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
#login-menu p {
    margin:0;
}
#login-menu a {
    color:#6AC;
}
#login-menu label {
    font-weight:normal;
}
#login-menu p.login-submit {
    padding:10px 0;
}
#login-menu p.forgot, #login-menu p.complete {
    clear:both;
    margin:5px 0;
}
#login-menu p a {
    color:#27B!important;
}
#login-submit {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#39d url('/images/bg-btn-blue.png') repeat-x scroll 0 0;
    border:1px solid #39D;
    color:#fff;
    text-shadow:0 -1px 0 #39d;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
}
#login-submit::-moz-focus-inner {
padding:0;
border:0;
}
#login-submit:hover, #login-submit:focus {
    background-position:0 -5px;
    cursor:pointer;
}

/* Registration Form */

#registration-menu {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
	border-radius: 5px;
    display:none;
    background-color:#ddeef6;
    position:absolute;
	top: 30%;
	left: 50%;
	margin-left: -105px;
	z-index:1002;
	overflow: auto;
    width:240px;
    border:2px solid #ACE;
    text-align:left;
    padding:12px;
    color:#789;
    font-size:11px;
	
}

#registration-menu input[type=text], #registration-menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
#registration-menu p {
    margin:0;
}
#registration-menu a {
    color:#6AC;
}
#registration-menu label {
    font-weight:normal;
}
#registration-menu p.register-submit {
    padding:10px 0;
}
#registration-menu p.forgot, #registration-menu p.complete {
    clear:both;
    margin:5px 0;
}
#registration-menu p a {
    color:#27B!important;
}
#register-submit {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#39d url('/images/bg-btn-blue.png') repeat-x scroll 0 0;
    border:1px solid #39D;
    color:#fff;
    text-shadow:0 -1px 0 #39d;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
}
#register-submit::-moz-focus-inner {
padding:0;
border:0;
}
#register-submit:hover, #register-submit:focus {
    background-position:0 -5px;
    cursor:pointer;
}
	
.data-valid {
	border: 1px solid #23DB4E;
	background-color: #E1F0E5;
}

.data-invalid {
	border: 1px solid #DB2323;
	background-color: #F0E1E1;
}



/*
SCOPE: Main Navigation
*/

#main-navigation {
	background: url('/images/ui-bg_gloss-wave.png') 50% 50% repeat-x;
	border-radius: 4px;
}

#main-navigation a {
	color: #333;
	text-decoration: none;
}

#main-navigation a:hover {
	color: #555;
}

#main-navigation ul, #account-navigation ul, #bid-info ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 30px;
}

#bid-info {
	float: right;
}

#account-navigation ul {
	float: left;
}

#account-navigation ul li, #bid-info ul li {
	float: left;
	margin: 0 10px;
}

#main-navigation ul li {
	float: left;
	font-size: 16px;
	margin: 0px 0px 0px 0px;

}

#main-navigation ul li:hover {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.25) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0.25))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.25) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.25) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.25) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.25) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#40ffffff',GradientType=0 ); /* IE6-9 */	
}

#main-navigation ul li a {
	color: #fff;
	padding: 5px 10px;
	display: block;
}

/*
SCOPE: Auction Listings
*/

#auctions {
	background-color:#fff;
	clear: both;
}

#auctions .auction {
	margin: 5px 7px 5px 7px;
	width: 174px;
	float: left;
	border-radius: 10px;
	border: 1px solid #a6c9e2; 
	background: #fcfdfd url(/images/ui-bg_inset-hard.png) 50% bottom repeat-x; color: #222222; }
}

#auctions .auction:hover {
	border-color:#555;
}

#auctions .auction-title {
	font-size: 12px;
	text-align: center;
}

#auctions .auction-title a {
	color: #68bf65;
	display: block;
	padding: 2px;
}
#auctions .auction-image {
	margin: 0px 7px 0px 7px;
}
#auctions .auction-image img {
	border: 0;
	max-height: 100%;
    max-width: 160px;
}
#auctions .auction-info {
	/*background-color: #e1e1e1;*/
	color: #ffffff;
}

#auctions .auction-info div {
	margin: 0px auto 0px auto;
	text-align: center;
	margin-bottom: 2px;
}

#auctions .auction-info .auction-current-price {
	font-size: 14px;
	color: #555;
}

#auctions .auction-info .auction-time-remaining {
	font-size: 16px;
	color: #CC0000;
}
#auctions .auction-info .auction-current-winner {
	font-size: 12px;
	color: #000000;
}
#auctions .auction-bid-button {
	font-size: 18px;
	text-align: center;
	background-color: #fff;
	padding: 2px;
	color: #000000;
	border:1px solid #68bf65;
	margin: 0px 40px 0px 40px;
	border-radius: 10px;
}

#auctions .auction-bid-button:hover {
	background-color:#e1f3e0;
	cursor: pointer;
}
#auctions .auction-footer {
	color: #000000;
	padding: 1px;
	text-align: center;
}